Rum Yue
### SQL with BigQuery (Intro)

In [3]:
%matplotlib inline
from google.cloud import bigquery
import numpy as np
import pandas as pd
import seaborn as sns
import os

In [8]:
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "/Users/xlyue/Documents/kaggle learning/Intro to SQL/sql projct-c04e74affb66.json"

In [9]:
client = bigquery.Client()

In [10]:
# get dataset from project
dataset_ref = client.dataset('hacker_news', project = 'bigquery-public-data')
#fetch dataset
dataset = client.get_dataset(dataset_ref)

In [12]:
tables = list(client.list_tables(dataset))
for table in tables:
    print(table.table_id)

comments
full
full_201510
stories

In [13]:
table_ref = dataset_ref.table('full')
table = client.get_table(table_ref)

#### Table schema

In [14]:
table.schema

[SchemaField('by', 'STRING', 'NULLABLE', "The username of the item's author.", ()),
 SchemaField('score', 'INTEGER', 'NULLABLE', 'Story score', ()),
 SchemaField('time', 'INTEGER', 'NULLABLE', 'Unix time', ()),
 SchemaField('timestamp', 'TIMESTAMP', 'NULLABLE', 'Timestamp for the unix time', ()),
 SchemaField('title', 'STRING', 'NULLABLE', 'Story title', ()),
 SchemaField('type', 'STRING', 'NULLABLE', 'Type of details (comment, comment_ranking, poll, story, job, pollopt)', ()),
 SchemaField('url', 'STRING', 'NULLABLE', 'Story url', ()),
 SchemaField('text', 'STRING', 'NULLABLE', 'Story or comment text', ()),
 SchemaField('parent', 'INTEGER', 'NULLABLE', 'Parent comment ID', ()),
 SchemaField('deleted', 'BOOLEAN', 'NULLABLE', 'Is deleted?', ()),
 SchemaField('dead', 'BOOLEAN', 'NULLABLE', 'Is dead?', ()),
 SchemaField('descendants', 'INTEGER', 'NULLABLE', 'Number of story or poll descendants', ()),
 SchemaField('id', 'INTEGER', 'NULLABLE', "The item's unique id.", ()),
 SchemaField('ranking', 'INTEGER', 'NULLABLE', 'Comment ranking', ())]

In [15]:
# let's preview the 'head' of the full table
client.list_rows(table, max_results = 5).to_dataframe()

,by,score,time,timestamp,title,type,url,text,parent,deleted,dead,descendants,id,ranking
0,kanzure,NaN,1326761085,2012-01-17 00:44:45+00:00,,comment,,"Right, there are a number of differences betwe...",3473271.0,None,None,NaN,3473282,None
1,davidguzt,1.0,1499415192,2017-07-07 08:13:12+00:00,Ask HN: What do you think about wasting time u...,story,,I appreciate your feedback .Is it really a pr...,NaN,None,True,NaN,14716891,None
2,AlexMcP,6.0,1360733247,2013-02-13 05:27:27+00:00,Ask HN: Who uses web scraping?,story,,A few survey questions about collecting data v...,NaN,None,None,3.0,5211587,None
3,sandGorgon,NaN,1479180762,2016-11-15 03:32:42+00:00,,comment,,It&#x27;s the redistributing part that I&#x27;...,12954424.0,None,None,NaN,12955396,None
4,abliss,1.0,1485360522,2017-01-25 16:08:42+00:00,M.xkcd.com added HSTS,story,,So how am I supposed to trigger wifi captive p...,NaN,None,None,0.0,13482541,None

In [17]:
client.list_rows(table, selected_fields = table.schema[:1], max_results = 5).to_dataframe()

           by
0     kanzure
1   davidguzt
2     AlexMcP
3  sandGorgon
4      abliss

Exercises

In [18]:
dataset_ref = client.dataset('chicago_crime', project = 'bigquery-public-data')
#fetch dataset
dataset = client.get_dataset(dataset_ref)

In [21]:
# How many tables are in the Chicago Crime dataset?
tables = list(client.list_tables(dataset))
len(tables)

1

In [30]:
# How many columns in the `crime` table have `TIMESTAMP` data?
table_ref = dataset_ref.table('crime')
table = client.get_table(table_ref)
table.schema

[SchemaField('unique_key', 'INTEGER', 'REQUIRED', 'Unique identifier for the record.', ()),
 SchemaField('case_number', 'STRING', 'NULLABLE', 'The Chicago Police Department RD Number (Records Division Number), which is unique to the incident.', ()),
 SchemaField('date', 'TIMESTAMP', 'NULLABLE', 'Date when the incident occurred. this is sometimes a best estimate.', ()),
 SchemaField('block', 'STRING', 'NULLABLE', 'The partially redacted address where the incident occurred, placing it on the same block as the actual address.', ()),
 SchemaField('iucr', 'STRING', 'NULLABLE', 'The Illinois Unifrom Crime Reporting code. This is directly linked to the Primary Type and Description. See the list of IUCR codes at https://data.cityofchicago.org/d/c7ck-438e.', ()),
 SchemaField('primary_type', 'STRING', 'NULLABLE', 'The primary description of the IUCR code.', ()),
 SchemaField('description', 'STRING', 'NULLABLE', 'The secondary description of the IUCR code, a subcategory of the primary description.', ()),
 SchemaField('location_description', 'STRING', 'NULLABLE', 'Description of the location where the incident occurred.', ()),
 SchemaField('arrest', 'BOOLEAN', 'NULLABLE', 'Indicates whether an arrest was made.', ()),
 SchemaField('domestic', 'BOOLEAN', 'NULLABLE', 'Indicates whether the incident was domestic-related as defined by the Illinois Domestic Violence Act.', ()),
 SchemaField('beat', 'INTEGER', 'NULLABLE', 'Indicates the beat where the incident occurred. A beat is the smallest police geographic area â€“ each beat has a dedicated police beat car. Three to five beats make up a police sector, and three sectors make up a police district. The Chicago Police Department has 22 police districts. See the beats at https://data.cityofchicago.org/d/aerh-rz74.', ()),
 SchemaField('district', 'INTEGER', 'NULLABLE', 'Indicates the police district where the incident occurred. See the districts at https://data.cityofchicago.org/d/fthy-xz3r.', ()),
 SchemaField('ward', 'INTEGER', 'NULLABLE', 'The ward (City Council district) where the incident occurred. See the wards at https://data.cityofchicago.org/d/sp34-6z76.', ()),
 SchemaField('community_area', 'INTEGER', 'NULLABLE', 'Indicates the community area where the incident occurred. Chicago has 77 community areas. See the community areas at https://data.cityofchicago.org/d/cauq-8yn6.', ()),
 SchemaField('fbi_code', 'STRING', 'NULLABLE', "Indicates the crime classification as outlined in the FBI's National Incident-Based Reporting System (NIBRS). See the Chicago Police Department listing of these classifications at http://gis.chicagopolice.org/clearmap_crime_sums/crime_types.html.", ()),
 SchemaField('x_coordinate', 'FLOAT', 'NULLABLE', 'The x coordinate of the location where the incident occurred in State Plane Illinois East NAD 1983 projection. This location is shifted from the actual location for partial redaction but falls on the same block.', ()),
 SchemaField('y_coordinate', 'FLOAT', 'NULLABLE', 'The y coordinate of the location where the incident occurred in State Plane Illinois East NAD 1983 projection. This location is shifted from the actual location for partial redaction but falls on the same block.', ()),
 SchemaField('year', 'INTEGER', 'NULLABLE', 'Year the incident occurred.', ()),
 SchemaField('updated_on', 'TIMESTAMP', 'NULLABLE', 'Date and time the record was last updated.', ()),
 SchemaField('latitude', 'FLOAT', 'NULLABLE', 'The latitude of the location where the incident occurred. This location is shifted from the actual location for partial redaction but falls on the same block.', ()),
 SchemaField('longitude', 'FLOAT', 'NULLABLE', 'The longitude of the location where the incident occurred. This location is shifted from the actual location for partial redaction but falls on the same block.', ()),
 SchemaField('location', 'STRING', 'NULLABLE', 'The location where the incident occurred in a format that allows for creation of maps and other geographic operations on this data portal. This location is shifted from the actual location for partial redaction but falls on the same block.', ())]

In [31]:
# If you wanted to create a map with a dot at the location of each crime, 
# what are the names of the two fields you likely need to pull out of the `crime` table to plot the crimes on a map?
client.list_rows(table, max_results = 5).to_dataframe().columns

Index(['unique_key', 'case_number', 'date', 'block', 'iucr', 'primary_type',
       'description', 'location_description', 'arrest', 'domestic', 'beat',
       'district', 'ward', 'community_area', 'fbi_code', 'x_coordinate',
       'y_coordinate', 'year', 'updated_on', 'latitude', 'longitude',
       'location'],
      dtype='object')